*{
    margin: auto auto;
}

.white{
    background-color: white;
}

.black{
    background-color: black;
}

table td{
    height: 5em;
    width: 5em;
    border: 2px black solid;
}

.white:hover{
    background-color: rgba(255, 0, 0, 0.5);
}

.black:hover{
    background-color: rgba(255, 0, 0, 0.5);
}

 div{
    visibility: hidden
}

h1{
    text-align: center;
    color:white;
    font-weight: bold;
    padding:2em;
    font-family: 'Rammetto One', cursive;
    font-weight: 100px
}

td:hover div{
    visibility: visible
}

nav{
    background-color: rgb(203, 177, 228);
    margin-bottom: 3%;
}

footer {
    background-color: rgb(203, 177, 228);
    padding: 25px;
    text-align: center;
    color: black;
    font-family: 'Neucha', cursive;
}
footer p{
    color: black solid;
    font-family: 'Neucha', cursive;
}